.formContainer {
    background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;

    /* width: 100%; */

    /* min-width: 100%; */

    padding: 1rem 2rem;
    
    border-radius: 15px;

  /* box-shadow: 0px 0px 2px 0px black;   */
}

.markdown {

}

.markdown p {
}

.controls {
    margin-left: 1rem;
    /* font-size: 2rem; */
}

.controls svg {
    cursor: pointer;
}

.buttonContainers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
    margin-top: 1rem;
}

.textareaContainer {
        display: grid;
        /* gridTemplateColumns: minmax(300px; auto) minmax(300px; auto); */
        grid-template-columns: 1fr;
        grid-auto-flow: column;

        width: 100%;
        /* min-width: 500px; */

        margin-top: 1rem;
        min-height: 100px;
        max-height: 200px;
        overflow: scroll;
        /* border-bottom: 1px solid gray;  */
}

.textarea {
    height: 100%; /* fill up the parent */
    width: 100%;
    outline: none;

    padding: 1rem;

    font-size: 1rem;
    line-height: 1.33;
    resize: none;
    overflow: scroll;

    border: none;
    background-color: rgba(0, 0, 0, 0.05) ;
    border-radius: 5px;
    /* border: 1px solid gray; */
}