.header {
    width: 100%;

    padding: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header h2 {
    flex: 1;
}


.nav {
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.nav ul li {
    display: inline-block;
    font-size: 1rem;
    margin-left:  1rem;
}

.nav ul li:first-child {
    margin: 0;
}

.nav ul li a, .nav ul li button {
    cursor: pointer;
}