.container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.block {
    margin: 2rem;
}

.topic {
    text-decoration: underline;
}

.topic:before {
    content: '';
    animation: textChange infinite 10s;
}

@keyframes textChange {
    0% {
        content: 'Javascript'
    }

    20% {
        content: 'React'
    }

    40% {
        content: 'Node'
    }

    60% {
        content: 'Web'
    }

    80% {
        content: 'Design patterns'
    }

    100% {
        content: 'Browser API'
    }
}