.container {
    width: 100%;
    max-width: 400px;

    /* margin: 1rem 0; */
    padding: 1rem;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;

    text-align: center;
}