.card {
  width: 50%;

  background: white;

  border-radius: 15px;

  display: flex;
  flex-direction: column;
  /* margin: 1.5rem; */
  padding: 1.5rem;

  box-shadow: 0px 4px 8px 0 rgba(161, 136, 136, 0.2);

  /* width: 100%; */


  text-align: center;
  /* max-width: 600px; */
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tag {
  background-color: #F0DB4F;
  padding: 0.5rem;
  border-radius: 5px;
}

.progress {
  font-weight: bold;
  font-size: 1.5rem;
}

.question {
  padding: 40px;
  /* flex-basis: 300px; */
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.card p {
  margin: 1.5rem 0;
  font-size: 1.25rem;
  line-height: 1.5;
  /* max-height: 100%;
  overflow: auto; */
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}



